TRUSTMRR_API_KEY=tmrr_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TRUSTMRR_PROXY=http://user:pass@host:port

MAIL_SMTP_HOST=172.17.0.1
MAIL_SMTP_PORT=25
MAIL_FROM=noreply@kisscolab.ru
MAIL_TO=puwerfulpants@mail.ru
